# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Virtual environments
.env
.venv

# Poetry
poetry.lock

# Testing and Coverage
.pytest_cache/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# IDE
.idea/
.vscode/
*.swp
*.swo

